@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

@layer base {
  /* base styles */
  body {
    background: #e1e9f7;
    @apply text-gray-500 m-8;
  }
  h1, h2 {
    @apply font-bold text-primary text-lg;
  }
  main {
    @apply max-w-5xl my-12 mx-auto px-8;
  }
  main > h2 {
    @apply mb-4 pb-2 text-base ;
  }
  p > a {
    @apply text-primary underline;
  }
}